.smicons {
    text-align: center;
    margin-bottom: 20px;
}

    .smicons a {
        text-decoration: none;
        margin-right: 1%;
    }

.fa-brands.fa-facebook-f.fa-2x {
    color: #1877F2;
}

.fa-brands.fa-instagram.fa-2x {
    background: linear-gradient(#405de6,#5b51d8,#833ab4,#c13584,#e1306c,#fd1d1d,#f56040,#f77737,#fcaf45,#ffdc80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-brands.fa-x-twitter.fa-2x {
    color: black;
}

.fa-brands.fa-linkedin.fa-2x {
    color: #0077b5;
}

.fa-brands.fa-github.fa-2x {
    color: black;
}

.fa-solid, fa-envelope.fa-2x {
    color: #ff6c23;
}

.fa-brands.fa-discord.fa-2x {
    color: #5865f2;
}

.iconwrapper.smicons {
    margin: 0 20px;
}

.iconwrapper {
}

    .iconwrapper .smicons span {
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 50%;
        background: whitesmoke;
        box-shadow: 0 10px 10px rgba(0,0,0,0.6);
    }

        .iconwrapper .smicons span i {
            line-height: 50px;
        }
